.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.DS_Store
.ipynb_checkpoints/
artifacts/*
!artifacts/.gitkeep
!artifacts/lab2/
artifacts/lab2/*
!artifacts/lab2/*.json
!artifacts/lab2/*.png
*.onnx
*.bin
*.safetensors
runs/
